:root {
    --main-white: #f0f0f0;
    --main-blue: rgba(21,25,40,255);
    --main-red: #be3144;
    --main-gray: #303841;
    --main-cyan: #0ef;
    --main-violet: #683277;
    --second-blue: #0f172a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    transition: 300ms;
}

*, html, body {
    scroll-behavior: smooth !important;
}

body {
    color: var(--main-white);
}
/* ----------HEADER---------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 300ms;
    opacity: 0;
    animation: slideTop 500ms ease forwards;
    animation-delay: calc(200ms * var(--i));
}

.navbar a:hover {
    color: var(--main-cyan);
}

.box {
    position: relative;
    width: 160px;
    height: 145px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.dropdown:hover > i {
    transform: translateY(5px);
}

.dropdown > i {
    margin-left: 5px;
    font-size: 32px;
    transform: translateY(5px);
    transition: transform 0.3s ease-out;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
    display: block; /* Show the dropdown on hover */
}

.dropdown .dropdown-content a {
    display: flex;
    left: 100%;
    color: var(--main-blue);
    position: relative;
    padding: 10px 15px;
    font-size: 20px;
    background: var(--main-white);
    border-radius: 5px;
    margin-top: 2.5px;
    text-decoration: none;
    opacity: 1;
    animation: none;
    z-index: 1;
    overflow: hidden;
    
}

.dropdown .dropdown-content a {
    transition: 300ms;
}

.dropdown.show .dropdown-content a {
    left: 0;
}

.dropdown .dropdown-content a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-blue);
    transform: rotate(160deg);
    transform-origin: right;
    transition: 300ms;
    z-index:-1;
    border-radius: 5px;
}

.dropdown .dropdown-content a:hover span {
    transform: rotate(0deg);
}

.dropdown .dropdown-content a:hover {
    color: var(--main-cyan);
}

/* ----------WELCOME SECTION---------- */
.welcome {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(background.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.welcome-content {
    max-width: 600px;
}

.welcome-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 700ms;
}

.welcome-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 700ms;
}

.welcome-content h3 span{
    color: var(--main-cyan);
}

.welcome-content h1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 56px;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.welcome-content p:nth-of-type(1){
    margin-bottom: 20px;
}

.welcome-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.welcome-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-cyan);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-cyan);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(200ms * var(--i));
}

.welcome-sci a:hover {
    background: var(--main-cyan);
    color: var(--main-blue);
    box-shadow: 0 0 20px var(--main-cyan);
}

.btn-box {
    margin-top: 30px;
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-cyan);
    border-radius: 40px;
    font-size: 16px;
    color: var(--main-blue) !important;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px var(--main-cyan),
    0 0 25px var(--main-cyan);
}

.btn-box:hover {
    box-shadow: 0 0 5px var(--main-cyan),
    0 0 25px var(--main-cyan), 0 0 50px var(--main-cyan),
    0 0 100px var(--main-cyan), 0 0 200px var(--main-cyan);
}



/* ----------BASIC INFO SECTION---------- */
.basic-info {
    position: relative;
    width: 100%;
    background: url(background2.png) no-repeat;
    background-size: cover;
    display: flex;
    padding: 70px 10% 0;
    align-items: center;
}

.me-info,
.mama-info,
.papa-info,
.pets-info {
    height: 100vh;
    width: 100%;
}

.item-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    opacity: 0;
    transition: all 2s ease;
    box-shadow: 20px 20px 50px black;
}

.item-1-text.active {
    animation: slideLeft-2 1s ease forwards;
    animation-delay: 500ms;
    
}

.item-3-text {
    opacity: 0;
    transition: all 2s ease;
}

.item-3-text.active {
    animation: slideLeft 1s ease forwards;
    animation-delay: 500ms;
    
}

.mama-info,
.papa-info,
.pets-info {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}

.item-2,
.item-3,
.item-4 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.item-2-text,
.item-3-text,
.item-4-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}



#education h3,
#projects h3,
#hobbies h3,
#facts h3,
#contact h3 {
    font-size: 32px;
    font-weight: 700;
    padding-top: 30px;
}


.reveal {
    margin-top: 70px;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 2s ease;
    position: relative; 
    display: inline-block; 
    line-height: 1;
}

.reveal.active {
    animation: slideRight 300ms ease forwards;

}

.basic-info p {
    font-size: 22px;
    margin-bottom: 10px;
}
.basic-info h3 {
    font-size: 32px;
    font-weight: 700;
}


.basic-info-header,
.basic-info-p,
.family-info-p,
.family-info-header {
    position: relative; 
    margin-right: 10px;
    line-height: 1;
}

.family-info-p,
.family-info-header {
    opacity: 0;
    transition: all 2s ease;
}

.family-info-p.active,
.family-info-header.active {
    animation: slideRight 1s ease forwards;
}


.my-image {
    position: relative;
    width: 480px;
    height: 517px;
    overflow: hidden;
    margin-left: 60px;
    margin-top: 50px;
    opacity: 0;
    box-shadow: 0 0 100px black;
    border-radius: 10px;
}

.my-image.active {
    animation: slideRight 1s ease forwards;
    animation-delay: calc(500ms * var(--i));
}

.my-pic {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 1s ease;
}

.me-mama-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

.mama-image {
    position: relative;
    width: 600px;
    height: 600px;
    overflow: hidden;
    margin-left: 60px;
    margin-top: 50px;
    opacity: 0;
    box-shadow: 0 0 100px black;
    border-radius: 10px;
}

.mama-pic {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    box-shadow: 0 0 100px black;
    transition: all 1s ease;
}

.mama-image.active {
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(200ms * var(--i));
}

.papa-image {
    position: relative;
    width: 782px;
    height: 606px;
    overflow: hidden;
    margin-left: 60px;
    margin-top: 50px;
    opacity: 0;
    box-shadow: 0 0 100px black;
    margin-left: 100px;
    border-radius: 10px;
}

.papa-pic {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    box-shadow: 0 0 100px black;
    transition: all 1s ease;
}

.papa-image.active {
    animation: slideRight 1s ease forwards;
    animation-delay: calc(200ms * var(--i));
}

.item-4-text {
    max-width: 500px;
}

.cats-1,
.cats-2 {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    box-shadow: 0 0 100px black;
    transition: all 1s ease;
}

.cats-image-1 {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    opacity: 0;
    box-shadow: 0 0 100px black;
    border-radius: 10px;
}

.cats-image-2 {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    opacity: 0;
    box-shadow: 0 0 100px black;
    border-radius: 10px;
}

.cats-image-1.active {
    animation: slideTop 1s ease forwards;
    animation-delay: calc(200ms * var(--i));
}

.cats-image-2.active {
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(200ms * var(--i));
}

.basic-info-btn {
    margin-top: 70px;
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-cyan);
    border-radius: 40px;
    font-size: 16px;
    color: var(--main-blue);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    box-shadow: 0 0 5px var(--main-cyan),
    0 0 25px var(--main-cyan);
}

.basic-info-btn.active {
    animation: slideTop 1s ease forwards;
    animation-delay: calc(200ms * var(--i));
}

.basic-info-btn.active:hover {
    box-shadow: 0 0 5px var(--main-cyan),
    0 0 25px var(--main-cyan), 0 0 50px var(--main-cyan),
    0 0 100px var(--main-cyan), 0 0 200px var(--main-cyan);
}

.basic-info h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.my-image:hover .my-pic,
.mama-image:hover .mama-pic,
.papa-image:hover .papa-pic,
.cats-image-1:hover .cats-1,
.cats-image-2:hover .cats-2 {
    transform: scale(1.2);
}

/* ----------EDUCATION SECTION---------- */
.education {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(background2.png) no-repeat;
    background-size: cover;
    padding: 70px 10% 0;
}

.education-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0;
    transition: all 2s ease;
}

.education-header.active {
    animation: slideBottom 500ms ease forwards;
    animation-delay: calc(300ms * var(--i));
}

.elementary-content p,
.jhs-content p,
.shs-content p {
    font-size: 22px;
}
.education h1,
.jhs-content h1,
.shs-content h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.elementary,
.jhs,
.shs {
    height: calc(100vh - 300px);
    width: 600px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elementary-img,
.jhs-img,
.shs-img {
    position: relative;
    width: 450px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    opacity: 0;
    transition: all 2s ease;
    border-radius: 10px;
}

.elementary-img img:hover,
.jhs-img img:hover,
.shs-img img:hover {
    transform: scale(1.2);
}

.elementary-img.active,
.jhs-img.active,
.shs-img.active {
    animation: slideBottom 500ms ease forwards;
    animation-delay: calc(300ms * var(--i));
}

.elementary-img {
    margin-top: -27px;
}

.elementary-img img,
.jhs-img img,
.shs-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 1s ease;
}

.elementary-content,
.jhs-content,
.shs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 2s ease;
}

.elementary-content.active,
.jhs-content.active,
.shs-content.active {
    animation: slideTop 500ms ease forwards;
    animation-delay: calc(300ms * var(--i));
}

.container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.education-projects-btn {
    display: flex;
    justify-content: flex-end;
    transition: all 2s ease;
    opacity: 0;
    margin-top: -100px;
}

.education-projects-btn.active {
    animation: slideTop 500ms ease forwards;
    animation-delay: calc(300ms * var(--i));
}

/* ----------PROJECTS SECTION---------- */
.projects {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(background2.png) no-repeat;
    background-size: cover;
    display: flex;
    padding: 70px 10% 0;
    text-align: center;
    flex-direction: column;
}

.projects a {
    text-decoration: none;
    color: var(--main-white);
}


.projects-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2 solid var(--main-white);
}

.container-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.projects-hobbies-btn a {
    color: var(--main-blue);
}

/* ----------HOBBIES SECTION---------- */
.hobbies {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(background2.png) no-repeat;
    background-size: cover;
    display: flex;
    padding: 70px 10% 0;
}

/* ----------FACTS SECTION---------- */
.facts {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(background2.png) no-repeat;
    background-size: cover;
    display: flex;
    padding: 70px 10% 0;
}

/* ----------CONTACT SECTION---------- */
.contact {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(background2.png) no-repeat;
    background-size: cover;
    display: flex;
    padding: 70px 10% 0;
}


/* ----------ANIMATION---------- */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft-2 {
    0% {
        transform: translate(100px, 80px);
        opacity: 0;
    }
    100% {
        transform: translate(-100px, 80px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}