:root {
    --main-white: #f0f0f0;
    --main-blue: rgba(21,25,40,255);
    --main-red: #be3144;
    --main-gray: #303841;
    --main-cyan: #0ef;
    --main-violet: #683277;
    --second-blue: #0f172a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 300ms;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    min-height: 100vh;
    background: var(--main-blue);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
}
